header {
    background-color: #ffff00;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    /* Sắp xếp theo chiều dọc */
    gap: 20px;
    /* Khoảng cách giữa các phần tử */
    width: 100%;
    /* Có thể thêm để đảm bảo form không bị hẹp */
    max-width: 500px;
    /* Đặt chiều rộng tối đa cho form */
    box-sizing: border-box;
    /* Đảm bảo padding và border không làm tăng chiều rộng */
}

label {
    margin-right: 30px;
    /* Khoảng cách giữa label và input */
}

input {
    margin-left: 30px;
}

.formal {
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    height: 100vh;
    /* Chiều cao 100% viewport */
    margin: 0;
    /* Bỏ margin mặc định */
}

.nav-link img {
    height: 30px;
    margin-inline: 10px;
}

.nav-link-ap {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px 20px;
    justify-content: center;
    text-decoration: none;
    /* Bỏ gạch chân */
    line-height: normal;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.small-underline {
    display: flex;
    margin: 20px;
    margin-top: 50px;
    max-width: fit-content;
    font-weight: bold;
    border-bottom: 3px solid #f9a603;
    padding-bottom: 10px;
}

.event-card img {
    width: 100%;
    /* Chiều rộng 100% của thẻ cha */
    height: 200px;
    /* Chiều cao cố định */
    object-fit: cover;
    /* Giữ tỉ lệ hình ảnh mà không làm biến dạng */
}

.form-inline {
    display: flex;
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

.typeplace {
    border-radius: 7px;
    border: 1px solid #d9dddc;
    padding: 7px 15px;
}


.form-control {
    width: 270px;
    margin-inline: 10px;
    align-items: center;
}

.form-control option:disabled {
    color: #aaa;
}

.btn-good:hover {
    background-color: #167347;
}

.btn-good {
    background-color: #188754;
    border: none;
}

.btn-bad:hover {
    background-color: rgb(183, 1, 1);
}

.btn-bad {
    border: none;
}

/*
nav img:hover {
    border-radius: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: #474708;
}*/