.text-center {
    padding-top: 80px;
    padding-bottom: 50px;
}

.button-click {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* Căn giữa theo chiều ngang */
    /*align-items: center;
    /* Căn giữa theo chiều dọc (nếu cần) */
    /*height: 100vh;          /* Để nút nằm giữa trang */
}



.btn-primary {
    border-radius: 50px;
    margin-top: 10px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    justify-content: center;
}

.form-control {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}